@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  
}


body{
    color: white;
    position: relative;
    height: 100vh;
    width: 100%;
    

}



/* Sidebar */
.solou{
    list-style: none;
    text-decoration: none;
 
}

#golden{
    background-color: #a09173;
   
   
}

#blackus{
    color: #1a1a1a;
}

.binks{
    text-decoration: none;
    color: white;
}


.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    height: 92%;
    width: 280px ;
    top: 0;
    left: 0;
  
    
}

.imagelogo{
    display: flex;
   text-align: center;
    margin: 0 auto;
   height: 120px;
   width: 180px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar ul{
text-align: center;
margin-top: 20px;

}

.sidebar ul li{ 
    
    height: 40px;
    width: 100%;
    list-style: none;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.4s all ease-in-out linear;
}

.sidebar ul li a:hover{
    background: #a09173;
}

.footer_side ul {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
  
}

.footer_side ul li a:hover{
    background: #1a1a1a;
}

.footer_side{
    margin-top: auto;
}


.angle{
    color: #a09173;

}

.titrou{
    padding-bottom: 0;
}

.iconus{
    color: #a09173;
  font-size: 50px;
  position: absolute;
  margin-top: 20px;
}


/* footer */

#goldus{
    color: #a09173;
}
.footeurs{
   
    padding: 20px 0;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
   
    

}

 .social {
    text-align: center;
    padding-bottom: 25px;
    color: grey;
}

 .social  {
    font-size: 24px;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    transition:  0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
 .social :hover{
    opacity: 0.9;
    color: #a09173;
}

.footeurs ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    
}

.coco {
    text-decoration: none;
    color: #a09173;
}

#meme{
    color: #a09173;
}

#momo{
    color: grey;
}

.footeurs ul a{
    text-decoration: none;
    opacity: 0.8;
    
}

.footeurs ul li {
    display: inline-block;  
    padding: 0 15px;
}

.mamu{
    display: flex;
    justify-content: end;
    font-size: 10px;
 
    
}


.pupo{
position: relative;
}

#progress-bar{
 position: absolute;
 top: -8px;
    height: 8px;
    background:#a09173;
    width: 50%;
    z-index: 100;
}
