body{
    color: white;
}




.main{
    background-color: #1a1a1a;
}

.solou{
    list-style: none;
    text-decoration: none;
 
}

#golden{
    background-color: #a09173;
}

.binks{
    text-decoration: none;
    color: white;
}